/* 
Created by: Mallory Steffes
Date created: 12.11.19
Last revision: 12.11.19
*/
body {
  margin: 0;
}

main {
  align-items: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

header {
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  background: #cc5803;
  height: 100px;
}

header h1 {
  margin-top: 0;
}

nav {
  background: #e2c044;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a:link {
  text-decoration: underline;
  margin: 20px;
  padding: 20px;
  color: white;
}

nav a:visited {
  color: white;
}

nav a:hover {
  font-weight: bold;
  text-shadow: -0.25px -0.25px 0 black, 0.25px 0.25px black;
}

nav a:active {
  text-decoration: none;
}

nav .btn {
  background-color: #5b7d87;
  color: #fef9ff;
  width: 150px;
}

section {
  background: #2e5266;
  padding: 20px;
  color: white;
  min-height:100vh;
}

footer {
  background: #e2c044;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-title {
  margin: 0;
  background: #2e5266;
  color: white;
  padding: 10px;
  font-size: 1.5rem;
}

table {
  width: 90%;
  margin: auto;
  border: 1px solid #0d1f2d;
}
table,
td {
  border-bottom: 1px solid #0d1f2d;
  border-top: 1px solid #0d1f2d;
  border-collapse: collapse;
  padding: 5px 10px;
  margin-bottom: 20px;
}
tr {
  background-color: #89b6a5;
}
tr:nth-child(odd) {
  background-color: #cc5803;
}
tr {
  height: 40px;
}
