/* 
Created by: Mallory Steffes
Date created: 12.11.19
Last revision: 12.11.19
*/

body {
  margin: 0;
}

main {
  align-items: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.main-container {
  padding: 0;
}

header {
  font-family: "Abril Fatface", cursive;
  background: #cc5803;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  margin-bottom: 0;
  font-size: 4rem;
  color: white;
}

.nav {
  background: #e2c044;
}
.nav-tabs {
  font-family: "Abril Fatface", cursive;

  border-bottom: 1px solid #2e5266;
}

.nav a:link {
  text-decoration: underline;
  color: white;
}

.nav a:visited {
  color: white;
}

.nav a:hover {
  font-weight: bold;
  text-shadow: -0.25px -0.25px 0 black, 0.25px 0.25px black;
}

.nav .active {
  text-decoration: none !important;
}

.jumbotron {
  margin-bottom: 0;
  background-image: url("../images/megumi-nachev-Yv5F2D7bMrw-unsplash.jpg");
  background-size: cover; 
  color: white;
}

#jumbo-container {
  padding: 40px;
  background: rgb(204, 88, 3, .95);
}

#jumbo-heading {
  font-family: "Abril Fatface", cursive;
}

section {
  background: #2e5266;
  color: white;
  min-height: 100vh;
}

.news-carousel {
  width: 80%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.carousel-caption {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

#about-us-container {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #cc5803;
  color: white;
}

footer {
  background: #e2c044;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-title {
  margin: 0;
  background: #2e5266;
  color: white;
  text-decoration: underline;
  padding: 3%;
  font-family: "Abril Fatface", cursive;
}

.menu-title h2 {
  font-size: 50px;
  font-weight: 100;
}

table {
  width: 90%;
  margin: auto;
  border: 1px solid #0d1f2d;
}
table,
td {
  border-bottom: 1px solid #0d1f2d;
  border-top: 1px solid #0d1f2d;
  border-collapse: collapse;
  padding: 5px 10px;
  margin-bottom: 20px;
}
tr {
  background-color: #89b6a5;
}
tr:nth-child(odd) {
  background-color: #cc5803;
}
tr {
  height: 40px;
}

